# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### Development environment ###
.venv

### dotenv ###
.env

### docx ###
.docx
.doc

### Presentation directory ###
Docs

### source directory ###
Source

### JSON ###
package-lock.json

### Cash ###
__pycache__

### Logs ###
logs.txt

### Xlsx ###
data_with_spaces.xlsx

### Directories ###
GENERATED_PPTX
GENERATED_PDF
resources