# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### dotenv ###
.env

### Certificates ###
GENERATED_PPTX
GENERATED_PDF

### source directory ###
Source

### JSON ###
package-lock.json

### Cash ###
__pycache__

# End of https://www.toptal.com/developers/gitignore/api/dotenv