# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### dotenv ###
*.env

### docx ###
*.docx
*.doc

### JSON ###
package-lock.json

### Cash ###
__pycache__

### Logs ###
logs.txt

### Directories ###
GENERATED_PPTX
GENERATED_PDF