html {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

body{
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 14pt;
    font-family: 'Montserrat';
    font-weight: lighter;
}

span {
    font-size: 12pt;
}

.sides-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.box-label {
    width: 80%;
    height: fit-content;
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 33%;
}

.button-text {
    display: inherit;
    width: 80%;
}

.file-name {
    display: inherit;
    width: 20%;
}

.option {
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    transition: .5s all;
    padding: 5px;
    border: 1px black solid;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.file-system{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.file-send{
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.option:hover {
    background-color: black;
    color: white;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.error{
    visibility: visible;
    text-align: center;
    font-size: 14pt;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 100%;
}

/* Pop Up */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #000000;
}

.popup input:focus + .label__text {
    color: #000000;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #000000;
}

.popup textarea:focus + .label__text {
    color: #000000;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 2px solid #000000;
    background: #000000;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: rgb(255, 255, 255);
    color:#000000;
    transition: 0.5s all;
}