html {
    width: 100%;
    height: 100%;
    -moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

body{
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 14pt;
    font-family: 'Montserrat';
    font-weight: lighter;
}

span {
    font-size: 12pt;
}

.sides-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.options-container {
    display: flex;
    height: 40%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 33%;
}

.button-text {
    display: inherit;
    width: 80%;
}

.file-name {
    display: inherit;
    width: 20%;
}

.option {
    max-width: 50%;
    width: 50%;
    text-align: left;
    transition: .5s;
    padding: 5px;
    border: 1px black solid;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.file-system{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.file-send{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.option:hover {
    background-color: black;
    color: white;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
}